.country-image-shimmer,
.country-name-shimmer,
.details-text-shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px; /* Optional: Rounded corners */
}

.country-image-shimmer {
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
    
}
  
.country-name-shimmer {
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    
}
  
.details-text-shimmer {
    width: 80%;
    height: 16px;
    margin-bottom: 8px;
    
}

@keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}